In [12]:
import geopandas as gpd
import pandas as pd

In [13]:
gdf = gpd.read_file("data/provincias.geojson")

In [ ]:
df = pd.DataFrame().replace()

In [17]:
gdf = gdf.replace("Araba","Álava")

In [18]:
gdf.sort_values("codigo")

,codigo,ccaa,provincia,cod_ccaa,texto,geometry
44,01,País Vasco,Álava,16,Álava,"POLYGON ((-3.02679 43.21665, -3.01900 43.21076..."
22,02,Castilla - La Mancha,Albacete,08,Albacete,"POLYGON ((-1.48366 39.41824, -1.48845 39.41739..."
20,03,Comunitat Valenciana,Alacant,10,Alicante,"MULTIPOLYGON (((-0.48546 38.16507, -0.48545 38..."
39,04,Andalucía,Almería,01,Almería,"MULTIPOLYGON (((-2.19104 36.72004, -2.19129 36..."
3,05,Castilla y León,Ávila,07,Ávila,"POLYGON ((-5.01386 41.16425, -5.01094 41.16197..."
13,06,Extremadura,Badajoz,11,Badajoz,"POLYGON ((-4.67789 39.43485, -4.67328 39.42708..."
18,07,Illes Balears,Illes Balears,04,Islas Baleares,"MULTIPOLYGON (((4.09396 40.08836, 4.09450 40.0..."
26,08,Cataluña,Barcelona,09,Barcelona,"MULTIPOLYGON (((1.65707 42.11443, 1.66435 42.1..."
34,09,Castilla y León,Burgos,07,Burgos,"MULTIPOLYGON (((-2.93489 42.59441, -2.93960 42..."
23,10,Extremadura,Cáceres,11,Cáceres,"POLYGON ((-6.23047 40.48660, -6.22392 40.48440..."
4,11,Andalucía,Cádiz,01,Cádiz,"MULTIPOLYGON (((-5.43733 36.06423, -5.43740 36..."
0,12,Comunitat Valenciana,Castelló,10,Castellón,"MULTIPOLYGON (((0.68867 39.90041, 0.68837 39.8..."
24,13,Castilla - La Mancha,Ciudad Real,08,Ciudad Real,"MULTIPOLYGON (((-4.76776 39.51562, -4.76247 39..."
31,14,Andalucía,Córdoba,01,Córdoba,"MULTIPOLYGON (((-5.08114 37.64655, -5.05379 37..."
46,15,Galicia,A Coruña,12,La Coruña,"MULTIPOLYGON (((-9.01503 42.48539, -9.01205 42..."
27,16,Castilla - La Mancha,Cuenca,08,Cuenca,"POLYGON ((-2.15211 40.65769, -2.14700 40.65796..."
45,17,Cataluña,Girona,09,Gerona,"MULTIPOLYGON (((2.79274 41.67061, 2.79235 41.6..."
42,18,Andalucía,Granada,01,Granada,"MULTIPOLYGON (((-3.38971 36.70813, -3.39010 36..."
7,19,Castilla - La Mancha,Guadalajara,08,Guadalajara,"MULTIPOLYGON (((-3.37405 40.64025, -3.37267 40..."
35,20,País Vasco,Gipuzcoa,16,Guipúzcoa,"MULTIPOLYGON (((-1.99803 43.32285, -1.99707 43..."
1,21,Andalucía,Huelva,01,Huelva,"POLYGON ((-6.92723 38.20444, -6.92432 38.20524..."
14,22,Aragón,Huesca,02,Huesca,"POLYGON ((-0.74727 42.92238, -0.74412 42.91921..."
33,23,Andalucía,Jaén,01,Jaén,"POLYGON ((-2.76683 38.53297, -2.76361 38.53210..."
32,24,Castilla y León,León,07,León,"POLYGON ((-4.89343 43.23844, -4.89146 43.23636..."
25,25,Cataluña,Lleida,09,Lleida,"MULTIPOLYGON (((1.71565 41.89214, 1.71863 41.8..."
43,26,"Rioja, La",La Rioja,17,La Rioja,"POLYGON ((-2.99723 42.64214, -2.98995 42.64233..."
15,27,Galicia,Lugo,12,Lugo,"MULTIPOLYGON (((-7.07609 43.55542, -7.07619 43..."
10,28,Comunidad de Madrid,Madrid,13,Madrid,"MULTIPOLYGON (((-4.25411 40.65867, -4.25605 40..."
38,29,Andalucía,Málaga,01,Málaga,"POLYGON ((-4.40658 37.27412, -4.40298 37.27658..."
21,30,Región de Murcia,Murcia,14,Murcia,"MULTIPOLYGON (((-1.54669 37.40733, -1.54845 37..."
19,31,Comunidad Foral de Navarra,Navarra,15,Navarra,"MULTIPOLYGON (((-1.14764 42.44100, -1.14497 42..."
40,32,Galicia,Ourense,12,Orense,"POLYGON ((-7.92055 42.56665, -7.91780 42.56168..."
51,33,"Asturias, Principado de",Asturias,03,Asturias,"POLYGON ((-5.83988 43.66123, -5.84226 43.65719..."
6,34,Castilla y León,Palencia,07,Palencia,"MULTIPOLYGON (((-4.07199 42.16534, -4.06898 42..."
49,35,Canarias,Las Palmas,05,Las Palmas,"MULTIPOLYGON (((-15.41958 28.18096, -15.41873 ..."
50,36,Galicia,Pontevedra,12,Pontevedra,"MULTIPOLYGON (((-8.93646 42.34939, -8.93396 42..."
36,37,Castilla y León,Salamanca,07,Salamanca,"POLYGON ((-6.47592 41.28734, -6.46535 41.28622..."
2,38,Canarias,Santa Cruz de Tenerife,05,Santa Cruz de Tenerife,"MULTIPOLYGON (((-17.92511 27.84925, -17.92354 ..."
11,39,Cantabria,Cantabria,06,Cantabria,"MULTIPOLYGON (((-3.26382 43.26583, -3.24920 43..."
8,40,Castilla y León,Segovia,07,Segovia,"POLYGON ((-3.96383 41.58608, -3.96049 41.57797..."
28,41,Andalucía,Sevilla,01,Sevilla,"POLYGON ((-5.72508 38.19578, -5.72323 38.19244..."
16,42,Castilla y León,Soria,07,Soria,"POLYGON ((-2.34400 42.14550, -2.33215 42.14603..."
41,43,Cataluña,Tarragona,09,Tarragona,"MULTIPOLYGON (((0.85208 40.72511, 0.85267 40.7..."
47,44,Aragón,Teruel,02,Teruel,"POLYGON ((-0.55855 41.35383, -0.55359 41.34709..."
17,45,Castilla - La Mancha,Toledo,08,Toledo,"POLYGON ((-4.37320 40.31428, -4.36485 40.31404..."
5,46,Comunitat Valenciana,València,10,Valencia,"MULTIPOLYGON (((-0.98714 39.98072, -0.98436 39..."
29,47,Castilla y León,Valladolid,07,Valladolid,"MULTIPOLYGON (((-5.51673 42.09345, -5.51041 42..."
12,48,País Vasco,Bizkaia,16,Vizcaya,"MULTIPOLYGON (((-3.02863 43.04403, -3.02845 43..."
9,49,Castilla y León,Zamora,07,Zamora,"POLYGON ((-6.76114 42.23987, -6.75909 42.23866..."
48,50,Aragón,Zaragoza,02,Zaragoza,"POLYGON ((-0.91580 42.74381, -0.90911 42.74404..."
30,51,Ceuta,Ceuta,18,Ceuta,"POLYGON ((-5.36711 35.91757, -5.36444 35.91715..."
37,52,Melilla,Melilla,19,Melilla,"POLYGON ((-2.95254 35.32000, -2.94915 35.31598..."

In [19]:
def load_turism_data()-> pd.DataFrame:
    #===================================================================
    # Preproceso de datos turísticos


    turistas = pd.read_csv("data/52047.csv",sep=";")
    turistas["year"] = turistas["Periodo"].apply(lambda x: x[:4])
    turistas["Total"] = turistas["Total"].str.replace(".","")
    turistas["Total"] = turistas["Total"].str.replace(",",".")
    turistas["Total"] = turistas["Total"].str.replace(r'^\s*$', "0", regex=True)
    turistas["Total"] = turistas.Total.fillna(0).astype(float)

    turistas["month"] = turistas["Periodo"].apply(lambda x: x[5:])
    turistas["day"] = 1
    turistas["fecha"] = pd.to_datetime(turistas[["month","year","day"]])
    name_fix = {"Alicante/Alacant":"Alacant",
                "Balears, Illes":"Illes Balears",
                "Castellón/Castelló":"Castelló",
                "Coruña, A":"A Coruña",
                "Rioja, La":"La Rioja",
                "Valencia/València":"València",
                "Gipuzkoa":"Gipuzcoa",
                "Araba/Álava":"Araba",
                "Palmas, Las":"Las Palmas"}
    turistas["Provincia de destino"] = turistas["Provincia de destino"].apply(lambda x: name_fix[x] if x in name_fix else x)
    turistas.drop(columns="RESIDENCIA/ORIGEN",inplace=True)

    prov_geo = 'data/provincias.geojson'
    provs = gpd.read_file(prov_geo)
    turistas = turistas.merge(right=provs[["codigo","provincia"]],right_on="provincia",left_on="Provincia de destino",how="left")
    turistas.codigo.fillna("00",inplace=True)
    # viajeros = turistas[turistas["Concepto turístico"] == "Turistas"].groupby(["year","Provincia de destino"]).sum(numeric_only=True).reset_index()
    # viajeros.rename(columns={"Provincia de destino":"NAMEUNIT"},inplace=True)
    # provincias_viajeros = provincias.merge(right=viajeros,on="NAMEUNIT")
    return turistas

In [21]:
df_turismo = load_turism_data()

In [26]:
df_turismo[df_turismo["Países"].isna() & ~df_turismo["Continentes"].isna()]

,Continentes,Países,Provincia de destino,Concepto turístico,Periodo,Total,year,month,day,fecha,codigo,provincia
0,NaN,NaN,Total Nacional,Turistas,2023M03,5639935.0,2023,03,1,2023-03-01,00,NaN
1,NaN,NaN,Total Nacional,Turistas,2023M02,4502738.0,2023,02,1,2023-02-01,00,NaN
2,NaN,NaN,Total Nacional,Turistas,2023M01,4602539.0,2023,01,1,2023-01-01,00,NaN
3,NaN,NaN,Total Nacional,Turistas,2022M12,4451187.0,2022,12,1,2022-12-01,00,NaN
4,NaN,NaN,Total Nacional,Turistas,2022M11,5011551.0,2022,11,1,2022-11-01,00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1395220,Oceanía,NaN,Zaragoza,Duración media de los viajes,2019M11,7.6,2019,11,1,2019-11-01,50,Zaragoza
1395221,Oceanía,NaN,Zaragoza,Duración media de los viajes,2019M10,10.2,2019,10,1,2019-10-01,50,Zaragoza
1395222,Oceanía,NaN,Zaragoza,Duración media de los viajes,2019M09,6.4,2019,09,1,2019-09-01,50,Zaragoza
1395223,Oceanía,NaN,Zaragoza,Duración media de los viajes,2019M08,9.0,2019,08,1,2019-08-01,50,Zaragoza
1395224,Oceanía,NaN,Zaragoza,Duración media de los viajes,2019M07,5.8,2019,07,1,2019-07-01,50,Zaragoza